@import url(./root.css);

*, *::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1;
}

button {
    font-family: inherit;
}

a {
    color: var(--main-green);
    text-decoration: none;
}

main a:hover {
    color: #52a12a;
    text-decoration: underline;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--grotesk);
}

main {
    padding-top: 60px;
    background-color: #f3f3f3;
}

main .container {
    background-color: white;
    box-shadow: 0 0 3px white;
    min-height: 100vh;
}

main h1, main h2, main h3 {
    color: #19360c;
}

.container {
    width: 1000px;
    margin: auto;
}

.vr {
    background-color: var(--fade-green);
    width: 2px;
    opacity: 0.1;
}

button {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--pastel-green);
    box-shadow: 0 0 5px var(--shadow);
}

button:hover, button:active {
    cursor: pointer;
}

button:active {
    box-shadow: 0 0 2px var(--shadow);
}

.add-padding {
    padding: 50px 50px;
}

.navigation {
    margin-bottom: 50px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: 3px;
}

.marg-bot-20 {
    margin-bottom: 20px;
}

.temp-h4 {
    visibility: hidden;
}

hr {
    border-top: 2px solid var(--fade-green);
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
    }
}